@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <div class="mb-3">
       <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nome">
    </div>
    <div class="mb-3 row">
      <input type="password" class="form-control" id="inputPassword" placeholder="Senha">
      </div>
</div>

